@tailwind base;
@tailwind components;
@tailwind utilities;

.youtube-container {
  overflow: hidden;
  width: 100%;
  /* Keep it the right aspect-ratio */
  aspect-ratio: 16/9;
  /* No clicking/hover effects */
  pointer-events: none;
}

.youtube-container iframe {
  /* Extend it beyond the viewport... */
  width: 300%;
  height: 100%;
}

.videoBox video {
  width: 100%;
  height: 80vh;
  position: relative;
  overflow: hidden;
  object-fit: cover;
  display: block;
}
